.gallery
	&__container
		+container(flex-start, nowrap)
		margin: 0
		width: 100%
		padding: 0
		@media (max-width: 821px)
			flex-wrap: wrap
			flex-direction: column
	&__item
		display: inline-block
		width: 100%
		height: 296px
		&--img
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			transition: all 1.4s linear
			&:hover
				transition: all 1.4s linear
				transform: scale(1.1)
				box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.7)
		&:nth-child(2)
			background-image: url(../img/img_1.jpg)
		&:last-child
			background-image: url(../img/img_2.jpg)
		@media #{$_md}
			height: 284px
		@media (max-width: 821px)
			background-position: top center
			height: 550px
		@media (max-width: 609px)
			height: 450px
		@media (max-width: 509px)
			height: 350px
		@media (max-width: 409px)
			height: 280px
	&__arrow
		position: relative
		background-color: #5b0fa1
		& .btn-arrow
			width: 18px
			top: 47%
			left: 50%
			transform: translate(-50%, -50%)
			@media (max-width: 821px)
				width: 23px
			@media (max-width: 509px)
				width: 18px
			@media #{$_xs}
				width: 16px