.btn-arrow
	position: absolute
	//font-family: Quicksand
	//font-size: 36px
	//font-weight: bold
	//line-height: 1.81
	//color: #fff
	transition: opacity 0.3s ease
	width: 23px
	height: 37px
	background: url(../img/arrow.svg) center no-repeat
	background-size: 150%
	&:hover
		opacity: 0.7
		cursor: pointer
	// display: block
	// width: 75px
	// height: 75px
	// position: relative
	// &::before, &::after
	// 	content: ''
	// 	position: absolute
	// 	top: 28px
	// 	left: 15px
	// 	width: 25px
	// 	height: 7px
	// 	background-color: #fff
	// 	border-radius: 4px
	// &::before
	// 	transform: rotate(45deg)
	// &::after
	// 	top: 42px
		
