html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  display: inline-block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.ttf");
  font-style: normal;
  font-weight: 700; }

.header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
      width: 100%;
      padding: 0 10px; } }
  @media (min-width: 481px) {
    .header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
      width: 720px; } }
  @media (min-width: 1024px) {
    .header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .header__container, .intro__container, .slogan__container, .gallery__container, .main__container {
      width: 1140px; } }

.page {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: #515151;
  font-size: 14px;
  line-height: 1.5; }

.l-page-wrap {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; }

.header {
  position: relative;
  background-color: #373c3f;
  height: 97px;
  line-height: 97px; }
  @media (max-width: 767px) {
    .header {
      height: 74px;
      line-height: 74px; } }
  @media (max-width: 480px) {
    .header {
      height: 37px;
      line-height: 37px; } }
  .header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    width: 100%; }
  .header__nav {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 10) + ( 30px * (10 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 10) + ( 30px * (10 - 1)));
    margin-left: 39px; }
    @media (max-width: 1023px) {
      .header__nav {
        margin-left: 22px; } }
    @media (max-width: 480px) {
      .header__nav {
        margin-left: 9px; } }
  .header__toggle {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 2) + ( 30px * (2 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 2) + ( 30px * (2 - 1)));
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 82px;
    height: 74px;
    background-color: #202529; }
    .header__toggle:hover {
      cursor: pointer; }
    @media (max-width: 767px) {
      .header__toggle {
        display: block; } }
    @media (max-width: 480px) {
      .header__toggle {
        width: 41px;
        height: 37px; } }
    .header__toggle-line {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 45px;
      height: 4px;
      background-color: #fff; }
      @media (max-width: 480px) {
        .header__toggle-line {
          width: 22px;
          height: 2px; } }
      .header__toggle-line::before, .header__toggle-line::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        background-color: #fff; }
        @media (max-width: 480px) {
          .header__toggle-line::before, .header__toggle-line::after {
            width: 22px;
            height: 2px; } }
      .header__toggle-line::before {
        margin-top: -12px; }
        @media (max-width: 480px) {
          .header__toggle-line::before {
            margin-top: -6px; } }
      .header__toggle-line::after {
        margin-top: 12px; }
        @media (max-width: 480px) {
          .header__toggle-line::after {
            margin-top: 6px; } }

.nav-title {
  display: none;
  font-size: 24px;
  color: #fff; }
  @media (max-width: 767px) {
    .nav-title {
      display: block; } }
  @media (max-width: 480px) {
    .nav-title {
      font-size: 15px; } }

.nav-list__item {
  margin: 0 15px;
  text-transform: uppercase; }
  .nav-list__item:first-child {
    margin-left: 0; }
  @media (max-width: 767px) {
    .nav-list__item {
      display: none; } }

.nav-list__link {
  font-size: 15px;
  line-height: 1.73;
  color: #fff;
  font-weight: 900;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .nav-list__link:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff; }
  .nav-list__link.is-active {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff; }

.intro {
  height: 580px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-image: -webkit-linear-gradient(119deg, #000000, #ffffff), -webkit-linear-gradient(#0ca3b9, #0ca3b9);
  background-image: linear-gradient(331deg, #000000, #ffffff), linear-gradient(#0ca3b9, #0ca3b9);
  background-blend-mode: soft-light, normal; }
  @media (max-width: 1023px) {
    .intro {
      height: 550px; } }
  @media (max-width: 767px) {
    .intro {
      height: 348px; } }
  @media (max-width: 480px) {
    .intro {
      height: 175px; } }
  .intro__container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    width: 100%; }
  .intro__title {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 12) + ( 30px * (12 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 12) + ( 30px * (12 - 1)));
    position: relative;
    padding-left: 68px;
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 1.08;
    letter-spacing: 1.3px; }
    @media (max-width: 1023px) {
      .intro__title {
        padding-left: 51px;
        font-size: 50px; } }
    @media (max-width: 767px) {
      .intro__title {
        padding-left: 41px;
        font-size: 40px; } }
    @media (max-width: 609px) {
      .intro__title {
        padding-left: 35px;
        font-size: 32px; } }
    @media (max-width: 539px) {
      .intro__title {
        font-size: 30px; } }
    @media (max-width: 480px) {
      .intro__title {
        margin-bottom: 15px;
        font-size: 20px; } }
    @media (max-width: 430px) {
      .intro__title {
        padding-left: 15px; } }
  .intro__link {
    padding-left: 68px;
    font-size: 34px;
    line-height: 1.91;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    .intro__link:hover {
      opacity: 0.7;
      cursor: pointer; }
    @media (max-width: 1023px) {
      .intro__link {
        padding-left: 51px; } }
    @media (max-width: 767px) {
      .intro__link {
        padding-left: 41px;
        font-size: 26px; } }
    @media (max-width: 609px) {
      .intro__link {
        padding-left: 35px;
        font-size: 20px; } }
    @media (max-width: 480px) {
      .intro__link {
        font-size: 15px; } }
    @media (max-width: 430px) {
      .intro__link {
        padding-left: 15px;
        font-size: 13px; } }
  .intro__arrow {
    width: 1px;
    position: relative; }
    .intro__arrow .btn-arrow {
      width: 16px;
      top: 16px;
      left: 320px; }
      @media (max-width: 1023px) {
        .intro__arrow .btn-arrow {
          width: 15px;
          left: 210px; } }
      @media (max-width: 767px) {
        .intro__arrow .btn-arrow {
          top: 7px;
          width: 12px;
          left: 185px; } }
      @media (max-width: 609px) {
        .intro__arrow .btn-arrow {
          top: 0px;
          width: 10px;
          left: 160px; } }
      @media (max-width: 539px) {
        .intro__arrow .btn-arrow {
          left: 140px; } }
      @media (max-width: 480px) {
        .intro__arrow .btn-arrow {
          top: -4px;
          width: 8px;
          left: 85px; } }
      @media (max-width: 430px) {
        .intro__arrow .btn-arrow {
          left: 105px; } }

.btn-arrow {
  position: absolute;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  width: 23px;
  height: 37px;
  background: url(../img/arrow.svg) center no-repeat;
  background-size: 150%; }
  .btn-arrow:hover {
    opacity: 0.7;
    cursor: pointer; }

.slogan {
  position: relative;
  height: 245px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #27212c; }
  @media (max-width: 980px) {
    .slogan {
      height: 234px; } }
  @media (max-width: 767px) {
    .slogan {
      height: 150px; } }
  @media (max-width: 480px) {
    .slogan {
      height: 75px; } }
  .slogan__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    width: 100%; }
  .slogan__title {
    padding-left: 73px;
    font-size: 30px;
    line-height: 2.17;
    color: #9282a0; }
    @media (max-width: 1023px) {
      .slogan__title {
        padding-left: 51px; } }
    @media (max-width: 881px) {
      .slogan__title {
        font-size: 26px; } }
    @media (max-width: 767px) {
      .slogan__title {
        padding-left: 41px;
        font-size: 22px; } }
    @media (max-width: 609px) {
      .slogan__title {
        padding-left: 35px;
        font-size: 20px; } }
    @media (max-width: 539px) {
      .slogan__title {
        padding-left: 30px;
        font-size: 18px; } }
    @media (max-width: 480px) {
      .slogan__title {
        font-size: 15px; } }
    @media (max-width: 430px) {
      .slogan__title {
        padding-left: 15px;
        font-size: 12px; } }
  .slogan__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 22.733%;
    height: 245px;
    background-color: #bc3183; }
    @media (max-width: 980px) {
      .slogan__arrow {
        height: 234px; } }
    @media (max-width: 767px) {
      .slogan__arrow {
        width: 19%;
        height: 150px; } }
    @media (max-width: 480px) {
      .slogan__arrow {
        height: 75px; } }
    .slogan__arrow .btn-arrow {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 50px;
      color: #ffffff; }
      @media (max-width: 881px) {
        .slogan__arrow .btn-arrow {
          width: 19px; } }
      @media (max-width: 767px) {
        .slogan__arrow .btn-arrow {
          width: 16px; } }
      @media (max-width: 609px) {
        .slogan__arrow .btn-arrow {
          width: 15px; } }
      @media (max-width: 539px) {
        .slogan__arrow .btn-arrow {
          width: 14px; } }
      @media (max-width: 480px) {
        .slogan__arrow .btn-arrow {
          width: 12px; } }

.gallery__container {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0;
  width: 100%;
  padding: 0; }
  @media (max-width: 821px) {
    .gallery__container {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.gallery__item {
  display: inline-block;
  width: 100%;
  height: 296px; }
  .gallery__item--img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1.4s linear;
    transition: all 1.4s linear; }
    .gallery__item--img:hover {
      -webkit-transition: all 1.4s linear;
      transition: all 1.4s linear;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.7);
              box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.7); }
  .gallery__item:nth-child(2) {
    background-image: url(../img/img_1.jpg); }
  .gallery__item:last-child {
    background-image: url(../img/img_2.jpg); }
  @media (max-width: 1023px) {
    .gallery__item {
      height: 284px; } }
  @media (max-width: 821px) {
    .gallery__item {
      background-position: top center;
      height: 550px; } }
  @media (max-width: 609px) {
    .gallery__item {
      height: 450px; } }
  @media (max-width: 509px) {
    .gallery__item {
      height: 350px; } }
  @media (max-width: 409px) {
    .gallery__item {
      height: 280px; } }

.gallery__arrow {
  position: relative;
  background-color: #5b0fa1; }
  .gallery__arrow .btn-arrow {
    width: 18px;
    top: 47%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 821px) {
      .gallery__arrow .btn-arrow {
        width: 23px; } }
    @media (max-width: 509px) {
      .gallery__arrow .btn-arrow {
        width: 18px; } }
    @media (max-width: 480px) {
      .gallery__arrow .btn-arrow {
        width: 16px; } }

.main {
  height: auto;
  background-color: #ebebeb;
  padding: 54px 0 154px 0; }
  @media (max-width: 821px) {
    .main {
      padding: 50px 0 75px 0; } }
  @media (max-width: 821px) {
    .main {
      padding: 30px 0 45px 0; } }
  .main__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    width: 100%; }
  .main__title {
    padding: 0 0 31px 65px;
    font-size: 30px;
    line-height: 1.47;
    color: #088ca5;
    text-shadow: 0px 1px 0 #fff; }
    @media (max-width: 821px) {
      .main__title {
        padding: 0 0 30px 50px; } }
    @media (max-width: 609px) {
      .main__title {
        padding: 0 0 20px 27px; } }

.main-text {
  padding-left: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  @media (max-width: 821px) {
    .main-text {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding-left: 50px; } }
  @media (max-width: 609px) {
    .main-text {
      padding-left: 25px; } }
  .main-text__column {
    padding-right: 60px; }
    @media (max-width: 821px) {
      .main-text__column {
        padding-right: 50px; }
        .main-text__column:last-child {
          display: none; } }
  .main-text__item {
    font-size: 14px;
    line-height: 1.86;
    text-shadow: 0px 1px 0 #fff; }
    .main-text__item:first-child {
      margin-bottom: 45px; }
    @media (max-width: 821px) {
      .main-text__item {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 2; }
        .main-text__item:first-child {
          margin-bottom: 30px; } }
    @media (max-width: 609px) {
      .main-text__item {
        font-size: 16px; } }
    @media (max-width: 480px) {
      .main-text__item {
        font-size: 14px;
        line-height: 1.571; } }
