include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include intro/intro
include btn-arrow/btn-arrow
include slogan/slogan
include main/main
include gallery/gallery

doctype html
html(lang="en")

	block head
		head
			+head({
				"title": "Saaa Bem Pug",
				"author": "Vladimir Zelik",
				"description": "HW3_Sass_Bem_Pug"
			})
			
		+b.BODY.page
			+b.DIV.l-page-wrap
				block header
					+header({
						"menu": [
							{
								"class": "is-active",
								"text": "PSD WEBSITES",
								"href": "index.html"
							},
							{
								"class": "",
								"text": "UI KITS",
								"href": "index.html"
							},
							{
								"class": "",
								"text": "PREMIUM PSD FILES",
								"href": "index.html"
							},
							{
								"class": "",
								"text": "ABOUT",
								"href": "index.html"
							},
							{
								"class": "",
								"text": "BLOG",
								"href": "index.html"
							}
						]
					})
					
				block content
					main

				block footer
					footer
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				script( src="libs/jquery-migrate/jquery-migrate.min.js")
				// endbuild

			block scripts
				// build:js js/custom.js
				script( src="js/custom.js")
				// endbuild
