.main
	height: auto
	background-color: $bg-color-light
	padding: 54px 0 154px 0
	@media (max-width: 821px)
		padding: 50px 0 75px 0
	@media (max-width: 821px)
		padding: 30px 0 45px 0
	&__container
		+container()
		margin: 0
		width: 100%
	&__title
		padding: 0 0 31px 65px
		font-size: 30px
		line-height: 1.47
		color: #088ca5
		text-shadow: 0px 1px 0 #fff
		@media (max-width: 821px)
			padding: 0 0 30px 50px
		@media (max-width: 609px)
			padding: 0 0 20px 27px
		
.main-text
	padding-left: 67px
	display: flex
	justify-content: space-between
	flex-wrap: nowrap
	@media (max-width: 821px)
		flex-wrap: wrap
		padding-left: 50px
	@media (max-width: 609px)
		padding-left: 25px
	&__column
		padding-right: 60px
		@media (max-width: 821px)
			padding-right: 50px
			&:last-child
				display: none
	&__item
		font-size: 14px
		line-height: 1.86
		text-shadow: 0px 1px 0 #fff
		&:first-child
			margin-bottom: 45px
		@media (max-width: 821px)
			margin-bottom: 30px
			font-size: 22px
			line-height: 2
			&:first-child
				margin-bottom: 30px
		@media (max-width: 609px)
			font-size: 16px
		@media #{$_xs}
			font-size: 14px
			line-height: 1.571