mixin header(data)
  +b.HEADER.header
    +e.DIV.container
      +e.NAV.nav
        +b.H2.nav-title Navigation
        +b.UL.nav-list
          each item in data.menu
            +e.LI.item
              +e.A.link(class=item.class, href=item.href)=item.text
      +e.DIV.toggle
        +e.SPAN.toggle-line
