.header
	position: relative
	background-color: #373c3f
	height: 97px
	line-height: 97px
	@media #{$_sm}
		height: 74px
		line-height: 74px
	@media #{$_xs}
		height: 37px
		line-height: 37px
	&__container
		+container()
		margin: 0
		width: 100%
	&__nav
		+col(10)
		margin-left: 39px
		@media #{$_md}
			margin-left: 22px
		@media #{$_xs}
      margin-left: 9px
	&__toggle
		+col(2)
		position: absolute
		display: none
		top: 0
		right: 0
		width: 82px
		height: 74px
		background-color: rgb(32, 37, 41)
		&:hover
			cursor: pointer
		@media #{$_sm}
			display: block
		@media #{$_xs}
			width: 41px
			height: 37px
		&-line
			position: absolute
			top: 50%
			left: 0
			right: 0
			bottom: 0
			margin: 0 auto
			transform: translate(0, -50%)
			width: 45px
			height: 4px
			background-color: #fff
			@media #{$_xs}
				width: 22px
				height: 2px
			&::before, &::after
				content: ''
				position: absolute
				width: 45px
				height: 4px
				background-color: #fff
				@media #{$_xs}
					width: 22px
					height: 2px
			&::before
				margin-top: -12px
				@media #{$_xs}
					margin-top: -6px
			&::after
				margin-top: 12px
				@media #{$_xs}
					margin-top: 6px
.nav-title
	display: none
	font-size: 24px
	color: #fff
	@media #{$_sm}
		display: block
	@media #{$_xs}
		font-size: 15px
.nav-list
	&__item
		margin: 0 15px;
		text-transform: uppercase
		&:first-child
			margin-left: 0
		@media #{$_sm}
			display: none
	&__link
		font-size: 15px
		line-height: 1.73
		color: #fff
		font-weight: 900
		transition: all 0.4s ease
		&:hover
			padding-bottom: 2px
			border-bottom: 1px solid #fff
		&.is-active
			padding-bottom: 2px
			border-bottom: 1px solid #fff
