@font-face
	font-family: "Montserrat"
	src: url("../fonts/Montserrat-Regular.ttf")
	font-style: normal
	font-weight: 400

@font-face
	font-family: "Quicksand"
	src: url("../fonts/Quicksand-Bold.ttf")
	font-style: normal
	font-weight: 700
