$xxs: "(min-width: 320px)"
$xs: "(min-width: 481px)"
$_xs: "(max-width: 480px)"
$sm: "(min-width: 768px)"
$_sm: "(max-width: 767px)"
$md: "(min-width: 1024px)"
$_md: "(max-width: 1023px)"
$lg: "(min-width: 1200px)"
$_lg: "(max-width: 1199px)"
$xlg: "(min-width: 1500px)"

$cols: 12
$gutter: 30px
// $col: calc(100% / $cols)
// $col: 5.2%

%container
  margin: 0 auto
  display: flex
  @media #{$xxs}
    width: 100%
    padding: 0 10px
  @media #{$xs}
    padding: 0 15px
  @media #{$sm}
    width: 720px
  @media #{$md}
    width: 960px
  @media #{$lg}
    width: 1140px


=container($align:space-between, $wrap:wrap)
  @extend %container
  justify-content: $align
  flex-wrap: $wrap

=col($num)
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
