mixin intro()
	+b.SECTION.intro
		+e.DIV.container
			+e.H1.title Awesome Free PSD 
				BR templates &amp; Resources
			+e.A.link(href="http://blazrobar.com/", target="_blank") www.BlazRobar.com
			+e.DIV.arrow
				+btn-arrow()