.intro
	height: 580px
	display: flex
	align-items: center
	color: #fff
	background-image: linear-gradient(331deg, #000000, #ffffff), $mintro-gradient
	background-blend-mode: soft-light, normal
	@media #{$_md}
		height: 550px
	@media #{$_sm}
		height: 348px
	@media #{$_xs}
		height: 175px
	&__container
		+container(flex-start, wrap)
		margin: 0
		width: 100%
	&__title
		+col(12)
		position: relative
		padding-left: 68px
		margin-bottom: 50px
		font-size: 60px
		line-height: 1.08
		letter-spacing: 1.3px
		@media #{$_md}
			padding-left: 51px
			font-size: 50px
		@media #{$_sm}
			padding-left: 41px
			font-size: 40px
		@media (max-width: 609px)
			padding-left: 35px
			font-size: 32px
		@media (max-width: 539px)
			font-size: 30px
		@media #{$_xs}
			margin-bottom: 15px
			font-size: 20px
		@media (max-width: 430px)
			padding-left: 15px
	&__link
		padding-left: 68px
		font-size: 34px
		line-height: 1.91
		color: #fff
		opacity: 0.5
		transition: opacity 0.3s ease
		&:hover
			opacity: 0.7
			cursor: pointer
		@media #{$_md}
			padding-left: 51px
		@media #{$_sm}
			padding-left: 41px
			font-size: 26px
		@media (max-width: 609px)
			padding-left: 35px
			font-size: 20px
		@media #{$_xs}
			font-size: 15px
		@media (max-width: 430px)
			padding-left: 15px
			font-size: 13px
	&__arrow
		width: 1px
		position: relative
		@media #{$_sm}
		& .btn-arrow
			width: 16px
			top: 16px
			left: 320px
			@media #{$_md}
				width: 15px
				left: 210px
			@media #{$_sm}
				top: 7px
				width: 12px
				left: 185px
			@media (max-width: 609px)
				top: 0px
				width: 10px
				left: 160px
			@media (max-width: 539px)
				left: 140px	
			@media #{$_xs}
				top: -4px
				width: 8px
				left: 85px
			@media (max-width: 430px)
				left: 105px