.slogan
	position: relative
	height: 245px
	display: flex
	align-items: center
	color: #fff
	background-color: #27212c
	@media (max-width: 980px)
		height: 234px
	@media #{$_sm}
		height: 150px
	@media #{$_xs}
			height: 75px
	&__container
		+container()
		margin: 0
		width: 100%
	&__title
		padding-left: 73px
		font-size: 30px
		line-height: 2.17
		color: #9282a0
		@media #{$_md}
			padding-left: 51px
		@media (max-width: 881px)
			font-size: 26px
		@media #{$_sm}
			padding-left: 41px
			font-size: 22px
		@media (max-width: 609px)
			padding-left: 35px
			font-size: 20px
		@media (max-width: 539px)
			padding-left: 30px
			font-size: 18px
		@media #{$_xs}
			font-size: 15px
		@media (max-width: 430px)
			padding-left: 15px
			font-size: 12px
	&__arrow
		position: absolute
		top: 0
		right: 0
		width: 22.733%
		height: 245px
		background-color: #bc3183
		@media (max-width: 980px)
			height: 234px
		@media #{$_sm}
			width: 19%
			height: 150px
		@media #{$_xs}
			height: 75px
		& .btn-arrow
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-size: 50px
			color: #ffffff
			@media (max-width: 881px)
				width: 19px
			@media #{$_sm}
				width: 16px
			@media (max-width: 609px)
				width: 15px
			@media (max-width: 539px)
				width: 14px
			@media #{$_xs}
				width: 12px
			
